@page "/post/{culture?}/{id?}"

@model Server.Pages.Features.Cms.PostModel

@{
	ViewData[Constants.ViewDataKeyName.PageTitle] = Model.ViewModel.Title;
	ViewData[Constants.ViewDataKeyName.PageAuthor] = Model.ViewModel.Author;
	ViewData[Constants.ViewDataKeyName.PageImageUrl] = Model.ViewModel.ImageUrl;
	ViewData[Constants.ViewDataKeyName.PageDescription] = Model.ViewModel.Description;
}

@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.CoverImageUrl) == false)
{
	<div class="row">
		<div class="col">
			<img src="@(Model.ViewModel.CoverImageUrl)" alt="@(Model.ViewModel.Title)" class="img-fluid">
		</div>
	</div>
}

<div class="row mt-3">
	<div class="col-lg-9">
		@(Html.Raw(Model.ViewModel.Body))

		@if (Model.ViewModel.Score > 0)
		{
			<hr />

			@(Resources.DataDictionary.Score)
			<text>:</text>
			@(Html.DtatDisplayInteger(value: Model.ViewModel.Score))
		}
	</div>

	<div class="col-lg-3">
		<partial name="Features/Cms/PartialViews/_DisplayRelatedPosts" model="@(Model.ViewModel.Id)" />
	</div>
</div>
